{% extends 'base.html' %}
{% load filters %}
{% block title %}
    搜索结果
{% endblock title %}
{% block content %}
  <div class="search"><h1>查询内容： {{ query }}</h1></div>
{#{% for con in page %}#}
{#    {{ con.object.id }}#}
{#    {% endfor %}#}
{#    <ul class="search_ul">#}
{##}
{#        {% for con in page.object_list %}#}
{#            <li>{{con.object.title}}</li>#}
{#            <li>{{ con.object.content }}</li>#}
{#            {% empty %}#}
{#            <li>没有查到</li>#}
{#        {% endfor  %}#}
{#    </ul>#}
{#    {% for p in paginator.page_range %}#}
{#        <li>{{ p }}</li>#}
{#    {% endfor %}#}





        {% if query %}
            <h3>Results</h3>

            {% for result in page%}
                <p>
                    {{ result.object.title }}
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&page={{ page.previous_page_number }}">{% endif %}« Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&page={{ page.next_page_number }}">{% endif %}Next »{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}




{% endblock content %}