{% extends 'base.html' %}

{% block title %}简介{% endblock title %}
{% block style %}


{% endblock style %}
{% block main %}
    <div class="con_profile" >
        <div><h1 style="text-align: center;font-family: 'Microsoft YaHei'">网站简介</h1></div>
        <div><p >&nbsp;&nbsp;这个网站名为Plog,用于记录我们日常生活、Plog，Personal-Log，也就是个人日志，记录我们在生活、工作中自己觉得有意义的事情。比如我们可以记录我们个人笔记，个人日记，个人的学习心得，个人的。。。只要你想在这个网站上写点东西，内容随你选择，这里要深感抱歉的是，暂时还没有开通图片上传功能，这是由于个人前端技术原因。

</p></div>
        <div><p>&nbsp;&nbsp;我的初衷是能让这个富文本编辑器，不仅可以上传文字，而且还可以上传图片，有些时候我们总有一些美丽的照片想分享出去，自己写的笔记当中总有一些内容通过图片代替文字，原因是总有些时候图片的可述性大于文字，比如说Python的笔记。对了，Plog完全使用Python语言来实现的，哈哈，谈到技术，我有点激动，就让我另起一行来描述Plog的架构吧。

  题外话：Plog整个项目都是用Python语言完成，为什么要选择Python，是因为。。。我学的就是Python，哈哈，其实这只是部分原因，我用Python是因为它的代码简洁易读，不像c语言那样让人懵懵懂懂，在c语言面前，初学者就像是儿童，天真。但c语言有它的好处就是执行效率特表快，c语言打交道的对象就是硬件了。而Python的解释器之一就是用c语言写的。对了为什么是之一，哈哈，原因是Python解释器有好多种，还有一种比较好用的是Java编写的解释器。对了这里提一下，c语言编写的解释器是不支持多线程的，它的多线程是表象的。什么叫表象，就是伪多线程，举个例子，你的cpu有100个核心，碉堡了的配置，但是，当用c解释器编译Python的多线程代码，然后去执行，你会发现它永远只使用一个核心，其它的99个核心都是空闲状态。造成这个原因是编写c解释器的时候，留了一个GIL锁，你可以通过百度GIL是什么东东。不过也可以融入c代码来实现多线程，你要知道，Python是胶水语言，任何语言都可以沾上Python，因此，写一段c代码，然后把这个多线程Python代码沾上去，Python就可以实现多线程，加入你的Python代码写的是20个线程，那么所使用cpu 的核心就是20个，一个也不会少。</p></div>
        <div>
            <p>&nbsp;&nbsp;扯了一点的Python历史，接下来继续描述Plog，下面描述下Plog整个框架结构吧。

  我使用的网站框架是django1.11，存储数据的数据库是MySQL， Python的版本是Python3.5.2， 开发环境是Ubuntu16.04.4版本，所使用的缓存数据库是redis， 异步处理任务的服务器是celery。这些是目前这个网站所使用的所有工具了。原本想增加一个fastdfs文件存储服务器的，但是由于个人的前段技术不够，不能发挥富文本编辑器上传图片的功能，暂时的没有这个功能。

    </p>
        </div>

        <div>
            <p>&nbsp;&nbsp;这里我开源了这个项目，目的是想让那些刚刚初学Python的同学，能够有个实战的项目练手，如果git上的大牛们能够帮忙修改、缝补这个项目的话，小弟我感激不尽。</p>
        </div>

    </div>
{% endblock main %}